@import "theme";

@keyframes matrix {
  0% {
    width: 0;
  }

  50% {
    width: 100vw;
  }

  100% {
    width: 0;
  }
}

@keyframes down {
  from {
    transform: translateY(-250%);
  }

  to {
    transform: translateY(0);
  }
}

.onboarding {
  width: 100%;
  height: 100vh;
  background: #041A2F;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 5, 17, 0.5055);
    animation: down 1s .5s ease-in-out;
    z-index: 10;
  }

  &__images {
    padding-top: 3rem;

    // :nth-child(1) {
    //   animation: matrix 7.4s cubic-bezier(0.4, 0, 1, 1) infinite;
    // }

    :nth-child(2) {
      animation: matrix 6s cubic-bezier(0.08, 0.47, 0.65, 0.9) infinite;
    }

    :nth-child(3) {
      animation: matrix 7s cubic-bezier(0.4, 0, 1, 1) infinite;
    }

    &--row {
      animation: matrix 7.5s cubic-bezier(0.4, 0, 1, 1) infinite;
      width: -250vw;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      margin-left: -1rem;

      @include desktop {
        width: -100vw !important;
        margin-left: $s1;
      }

      div {
        img {
          border-radius: $radius-1;
          width: 100%;
          height: 100%;
          object-fit: center;
          box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        }
      }
    }
  }

  &__content {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 100;

    @include desktop {
      width: 30%;
      left: auto;
      top: auto;
      right: $s2 + $s2;
      bottom: $s2;
    }

    &--button {
      position: absolute;
      width: 100%;
      bottom: 2%;
    }

    &--text {
      margin: 50% 2rem 0 0;
      color: $yellow;
      font-size: $s1;
      font-weight: 500;
      text-align: end;
      animation: down 1.5s ease;

      @include desktop {
        margin-top: 30%;
      }
    }

    &--logo {
      animation: down 1s ease;
      font-size: 5%;
      position: absolute;
      width: 60%;
      bottom: 15%;
      left: 5%;

      @include desktop {
        width: 30%;
      }
    }
  }
}