@import "../../../theme/index.scss";

.CreateCardForm {
	font-family: $font-plain;
	font-size: $s0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 100%;

	input {
		border-radius: $radius0;
		font-family: $font-plain;
		border: none;
		font-size: $s-1;
		background-color: $medium-grey;
		color: $light-grey;
		padding: $s-1;
		margin-bottom: $s0;
		margin-top: $s-2;

		&[name="description"] {
			height: 50%;
		}

		&:valid {
			background-color: $medium-grey;
		}
	}

	.tooltip {
		display: inline-block;
		position: relative;
		border-bottom: 1px dotted #666;
		text-align: left;
	}

	.upload-form-container {
		margin-top: $s1;
		margin-bottom: $s2;
	}
}
