@import "theme";

.editProfile {
  width: 100%;
  min-height: 100vh;
  padding: $s1;
  background: $dark-blue;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 30%;
    background: linear-gradient(180deg, #06966669 0%, rgba(4, 26, 47, 0.658) 75.56%);
    border-radius: $radius1 $radius1 0px 0px;
    z-index: 1;
  }
}