.loader-icon {
  font-size: 24px;
  animation: loaderRotate 2s infinite;
}

@keyframes loaderRotate {
  from {
    transform: rotate(0deg) scale(1.2);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}