{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/prop-types": 0,
    "react-hooks/exhaustive-deps": "off",
    "react/display-name": 0,
    "comma-dangle": 0
  },
  "settings": {
    "react": {
      "pragma": "React"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
