{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 90,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["package.json", "*.yml", ".prettierrc"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
