@import "theme";

@keyframes downAlert {
  0% {
    margin-top: -100%;
  }

  50% {
    margin-top: 0;
  }

  100% {
    margin-top: 5%;
  }
}

.alert {
  width: 90%;
  margin: 1rem 5%;
  border-radius: $radius-1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  animation: downAlert .5s ease;
  border-right: 4px solid white;

  @include desktop {
    max-width: 450px;
    margin-left: 100px;
  }

  @include tablet {
    max-width: 400px;
    margin-left: 100px;
  }

  &__close {
    position: absolute;
    right: 1.5%;
    top: 10%;

    svg {
      stroke: #fdfdfd86;
      border-radius: $radius-1;
      font-size: $s2;

      &:hover {
        stroke: #eee;
      }
    }
  }


  &__msg {
    padding: 1rem 1.5rem;
    color: $ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    svg {
      border-radius: $radius-1;
      font-size: $s2;
    }
  }

  &__error {
    filter: drop-shadow(0px 0 4px rgba(237, 37, 78, 0.46));
    background: rgb(196, 73, 73);
  }

  &__success {
    filter: drop-shadow(0px 0 4px rgba(52, 161, 25, 0.507));
    background: rgb(60, 175, 60);
  }

  &__confirm {
    background: $light-blue;
    color: $ivory;
    filter: drop-shadow(0px 4px 10px rgba(52, 84, 209, 0.5));
  }
}