@import "theme";

.alert {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: $s0;
  border-radius: $radius0;
  text-align: center;
  position: relative;

  &__close {
    position: absolute;
    right: 2%;
    top: 10%;

    svg {
      color: $ivory;
      border-radius: $radius-1;
      background: rgba(0, 0, 0, 0.329);
      padding: .1rem .5em;
      font-size: $s-2;
    }
  }

  &__error {
    background: $red;
    color: $ivory;
    filter: drop-shadow(0px 4px 10px rgba(237, 37, 78, 0.46));
  }

  &__success {
    background: $green;
    color: $dark-blue;
    filter: drop-shadow(0px 4px 10px rgba(35, 240, 199, 0.29));
  }

  &__confirm {
    background: $light-blue;
    color: $ivory;
    filter: drop-shadow(0px 4px 10px rgba(52, 84, 209, 0.5));
  }
}