@import "theme";

.upload-image-container {
  display: flex;
  width:100%;
  justify-content: inherit;
}

.upload-image-container p {
  display: inline;
  font-size: $s-1;
}

.image-wrapper {

}

.button-wrapper {
  display:flex;
  flex-direction:column;
}