@import "theme";

.navbar {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: $darker-blue;
	border-top: 1px solid #eeeeee5d;
	padding: 12px 0;

	.logo-simple {
		width: 25px;
	}
}

.nav-bar-button {
	background-color: transparent;
	border: none;
	cursor: pointer;

	a {
		.nav-bar-icons {
			color: #ffff;
			width: 25px;
			height: 25px;
		}

		.fill-yellow {
			color: #f4dd27;
			stroke-width: 3;
		}
	}
}