@import "theme";

.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $medium-grey;
  background: $darker-blue;
  padding: $s-1 0;
}

.nav-bar-button {
  background: transparent;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  color: $ivory;
  width: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  @include desktop {
    padding: $s-2 0;
  }
  @include tablet {
    padding: $s-2 0;
  }
  .nav-bar-icons {
    width: 25px;
  }
  span {
    display: none;
    font-size: $s-1;
  }
}
.fill-yellow {
  @include desktop {
    background: $dark-blue;
  }
  @include tablet {
    background: $dark-blue;
  }
  .nav-bar-icons {
    color: $green-main;
    stroke-width: 3;
  }
  span {
    display: block;
    color: $green-main;
  }
}
