@import "../../../theme/index.scss";

@keyframes leftToRight {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(250%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(0%);
  }
}

.loading {
  width: 100%;
  height: auto;

  &__loader {
    width: 100%;
    padding-top: 45vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--line {
      margin: 0.2rem;
      border-radius: 50px;
      height: 5px;
      width: 35px;

      &:first-child {
        width: 45px;
        background: $green-main;
        animation: leftToRight 1175ms ease infinite;
      }

      &:nth-child(2) {
        width: 55px;
        background: $light-blue;
        animation: leftToRight 1175.01ms ease infinite;
      }

      &:nth-child(3) {
        width: 40px;
        background: $green;
        animation: leftToRight 1175ms ease infinite;
      }
    }
  }

  &__title {
    margin-top: 5rem;
    text-align: center;
    font-size: 2em;
    color: $ivory;

    span {
      color: $green;
    }
  }
}
