@import "theme";

.CreateCardForm {
	width: 100%;
	padding: $s1;

	.input {
		margin-bottom: $s1;
		width: 100%;

		label {
			font-size: $s0;
			color: $light-grey;
		}

		input,
		textarea,
		.select {
			width: 100%;
			border-radius: $radius-1;
			font-family: $font-plain;
			font-size: $s-1;
			border: 2px solid $medium-grey;
			background: transparent;
			color: $ivory;
			padding: $s-1;
			margin-top: $s-1;

			@include desktop {
				font-size: $s1;
			}

			@include desktop {
				font-size: $s0;
			}

			&::placeholder {
				color: rgb(94, 94, 94);
			}
		}

		.select {
			background: $darker-blue !important;
		}

		.tooltip {
			display: inline-block;
			position: relative;
			border-bottom: 1px dotted #666;
			text-align: left;
		}
	}

	.form__bottom {
		display: flex;
		gap: 1rem;
		align-items: flex-end;

		.UploadImage {
			flex: 1;
		}

		button {
			flex: 3;
		}
	}
}