@import "theme";


.healthy_dev {
  font-family: $font-title;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px black;
  font-size: $s2;
  position: absolute;
  bottom: 10%;


  @include desktop {
    font-size: $s3;
  }

  @include tablet {
    font-size: $s3;
  }

  .healthy {
    font-weight: 700;
    color: $title-green;
  }

  .dev {
    font-weight: 400;
  }
}

.top {
  top: 5%;
  bottom: auto;
}