.home-button {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 12%;
    right: 10%;
    background-color: #F4DD27;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
     img {
         width: 70%;
         height: auto;
     }
}