@import "theme";

.top-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: $darker-blue;
  padding: $s1;

  border-bottom: 1px solid rgb(39, 39, 39);

  h2 {
    color: $ivory;
    font-size: .9em;
  }

  button {
    color: $yellow;
    font-size: .9em;
    border: none;
    background-color: transparent;
  }
}