@import "theme";

.top-navbar {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $darker-blue;
  padding: 0 $s1;

  h2 {
    color: $ivory;
    font-size: 1em;
  }

  button {
    color: $yellow;
    font-size: 1em;
    border: none;
    background-color: transparent;
  }
}