@import "theme";

.search__tags {
  margin: 1.5rem 0 0 0;

  &--tag {
    width: auto;
    background: #424d578a;
    border-radius: $radius-1;
    border: none;
    color: $yellow;
    font-size: $s-1 * 1.085;
    padding: .5rem 1rem;
    margin: 0 .8rem .5rem 0;
    outline: none;
  }
}