@import "theme";

.search__tags {
  margin: 1.5rem 0 2rem 0;
  width: 100%;
  overflow: scroll;
  display: flex;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }

  &--tag {
    width: auto;
    background: #424d578a;
    border-radius: $radius-1;
    border: none;
    color: $yellow;
    font-size: $s-1 * 1.085;
    padding: .5rem 1rem;
    margin-right: .8rem;
    outline: none;
  }
}