@import "theme";

.user-created-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $s0;
  color: $ivory;
  background-image: linear-gradient(
      to bottom,
      rgba(4, 26, 47, 0),
      rgba(4, 26, 47, 0),
      rgba(4, 26, 47, 0.548),
      rgba(4, 26, 47, 0.76),
      rgba(4, 26, 47, 0.897),
      rgb(4, 26, 47)
    ),
    url("../../assets/img/success.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .resend-email {
    max-width: 400px;
    padding: 2rem;
    background: rgba(196, 196, 196, 0.308);
    border-radius: 10px;
    text-align: center;

    .user-created {
      font-weight: 500;
      font-size: $s2;
      color: rgb(240, 240, 240);

      @include desktop {
        font-size: $s3;
      }

      @include tablet {
        font-size: $s1;
      }
    }

    .user-msg {
      margin: 1.5rem 0;
      font-size: $s0;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }

    input {
      font-size: $s0;
      width: 100%;
      border-radius: $radius-1;
      font-size: $s0;
      background-color: $medium-grey;
      border: 2px solid #807f7f;
      color: $ivory;
      padding: $s0;
      text-align: center;
    }

    span {
      display: inline-block;
      text-align: center;
      font-size: $s0;
      text-transform: uppercase;
      color: $green-main;
      margin: 1rem 0;
      font-weight: bold;
    }

    .error {
      color: rgb(235, 121, 121);
      margin-top: $s-2;
      font-size: $s-1 + 1;
    }
  }
}
