@import "../../../theme/index.scss";

.add-card-button {
  background-color: $yellow;
  border-radius: 10px;
  border: none;
  width: 100%;
  color: $dark-blue;
  padding: $s0;
  font-family: $font-plain;
  font-size: $s0 * 1.187; // Style figma has 19px, outside spacing scope
  box-shadow: 0px 2px 10px rgba(244, 221, 39, 0.59);
  margin-top: $s1;
}