.Card {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	padding: 24px;
	padding-top: 40px;
	font-family: "Rubik", sans-serif;
	background-color: #03111f;
	color: #fcfcfc;
	overflow: hidden;
	box-sizing: border-box;
}
