// new colors

$green-main: #65daaf;
$green-main-2: #55bab9;
$ivory: #fcfcfc;
$medium-grey: #424d57;
$light-grey: #9CA9B6;
$darker-blue: #03111f;
$dark-blue: #041a2f;
$orange: #ff7800;
$red: #ed254e;
$light-blue: #3454d1;
$dark: #000;
$light: #fff;

$main-gradient: linear-gradient(to right, $green-main, $green-main-2);
$onboarding-background: linear-gradient(to right, transparent, $dark-blue);
$onboarding-background-mobile: linear-gradient(to bottom, transparent 0%, $dark-blue 40%);

// old colors

$dark-blue: #041a2f;
$yellow: #f4dd27;
$green: #23f0c7;
$title-green: #63c29d;
$error: #b71c1c; //a definir
$warn: #eb4926;
$alert: #ebb426;
$succes: #00e676; //a definir
$primary: #26499d;
$primary-ligth: #5f74cf;
$primary-dark: #00236e;
$secondary: #26b0a1;
$secondary-light: #66e3d2;
$secondary-dark: #008073;
$blue-500: #1180b4;
$blue-400: #1390cb;
$blue-300: #26aceb; //base
$blue-200: #3db5ed;
$blue-100: #6cc7f1;
$gray-500: #bcbab8;
$gray-400: #c8c7c5;
$gray-300: #e1e0df; //base
$gray-200: #ededec;
$gray-100: #fafaf9;
$orange-500: #b42e11;
$orange-400: #e33915;
$orange-300: #eb4926; //base
$orange-200: #ed5d3d;
$orange-100: #f1846c;
$yellow-500: #c4940b;
$yellow-400: #f2b711;
$yellow-300: #ebb426; //base
$yellow-200: #f6cd59;
$yellow-100: #f7d471;
$teal-500: #187167;
$teal-400: #1d867b;
$teal-300: #26b0a1; //base
$teal-200: #2bc5b4;
$teal-100: #4ad8c9;
