/* Basic font */

@import url(//fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap);
@import url(//fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);

$font-plain: "Rubik", sans-serif;
$font-title: "Montserrat", sans-serif;

/* Sizes */

$s-3: 4px;
$s-2: 8px;
$s-1: 12px;
$s0: 16px;
$s1b: 18px;
$s1c: 14px;
$s1: 24px;
$s2: 32px;
$s3: 40px;
$s4: 64px;
$s5: 72px;
$s6: 90px;

/* Radius */

$radius-1: 6px;
$radius0: 10px;
$radius1: 14px;
$radius2: 20px;
$rounded: 50px;
