/* Basic font */

@import url(//fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap);

$font-title: "Montserrat", sans-serif;

$font-plain: "Rubik", sans-serif;

/* Sizes */

$s-3: 4px;
$s-2: 8px;
$s-1: 12px;
$s0: 16px;
$s1: 24px;
$s2: 32px;
$s3: 40px;
$s4: 64px;

/* Radius */

$radius-1: 6px;
$radius0: 10px;
$radius1: 14px;
