@import "theme";

@keyframes downModal {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0;
  }
}

.modal__confirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  background: #0a2d5cb6;
  border-radius: 0 0 20px 20px;
  z-index: 10000000;
  animation: downModal .3s ease;

  @include desktop {
    width: 100%;
    left: 25%;
  }

  .alert {
    position: relative;
  }

  &--buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    button {
      width: 48%;
      padding: .7rem 1rem;
      color: white;
      border: none;
      border-radius: 6px;

      &:nth-child(1) {
        background: #ED254E;
      }

      &:nth-child(2) {
        background: #041A2F;
      }
    }

  }
}