@import "theme";

@keyframes down {
  from {
    opacity: 0;
    margin-top: -50%;
    transform: translateY(-45%);
  }

  to {
    opacity: 1;
    margin: 0;
  }
}

.cuatrocientoscuatro {
  background: $darker-blue;
  width: 100%;
  height: 100vh;
  padding: $s0 $s2;
  display: grid;
  place-items: center;

  svg {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 2rem 0;

    .leaf {
      animation: down 2s infinite;
    }
  }

  p {
    text-align: center;
    color: $ivory;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    font-size: $s1;
    text-shadow: 10px rgb(204, 7, 7);
  }
}