@import "theme";

.register-wrapper {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	.gradient {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-image: $onboarding-background-mobile;
    z-index: 100;

    @include desktop {
      width: 60%;
      height: 100%;
      top: 0;
      right: 50%;
      position: absolute;
      background-image: $onboarding-background;
      z-index: 100;
    }

    @include tablet {
      width: 60%;
      height: 100%;
      top: 0;
      right: 50%;
      position: absolute;
      background-image: $onboarding-background;
      z-index: 100;
    }
  }
}

.register-container {
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 100;

	@include desktop {
		width: 50%;
		left: auto;
		top: 0;
		right: 0;
		background-color: $dark-blue;
	}

	@include tablet {
		width: 50%;
		left: auto;
		top: 0;
		right: 0;
		background-color: $dark-blue;
	}

	.register-form {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		font-family: $font-plain;
		font-size: $s0;
		color: $ivory;
		// padding: $s1;

		@include desktop {
			max-width: 80%;
			margin: auto;
			justify-content: center;
		}
	
		@include tablet {
			padding: $s2 0 $s1 0;
			margin-left: $s3;
			width: 55%;
		}

		.register-logo {

			@include desktop {
				display: none;
			}

			@include tablet {
				display: none;
			}
		}

		.desktop-title-wrapper {
			display: none;
			width: 100%;
			// padding-bottom: $s4;

			.desktop-title {
				font-size: $s1;
				font-weight: 700;
			}

			@include desktop {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 15px;
			}

			@include tablet {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 15px;
			}


		}

		.mobile-title {
			font-size: $s1;
			font-weight: 700;
			color: $ivory;
			margin-top: 90px;
	
			@include desktop {
				display: none;
			}
	
			@include tablet {
				display: none;
			}
		}

		.link {
			width: fit-content;
			color: $yellow;
			text-decoration: none;
			font-size: $s-1 +1;
			margin: .5rem 0;

			&:hover {
				font-weight: 500;
			}
		}
	}

	.register-img {
		display: none;
		object-fit: cover;
		height: 100vh;
		width: 100%;

		@include desktop {
			display: block;
			width: 55%;
		}

		@include tablet {
			display: block;
			width: 44%;
		}
	}

	.divider-form {
		height: 1px;
		background-color: $green-main;
		margin: 20px auto;
		width: 90%;
	
		@include desktop {
			margin: 35px 0;
			width: 100%;
		}
	
		@include tablet {
			margin: 35px 0;
			width: 100%;
		}
	}
}

