@import "theme";

.modal {
  text-align: start;
  background: $medium-grey;
  border-radius: $radius-1;
  color: $ivory;
  position: absolute;
  right: 10%;
  top: 0;
  margin-right: 10px;
  padding: .5rem 1.5rem;

  a {
    color: $ivory;
    text-decoration: none;
  }
}