@import "theme";

.card__detail {
  width: 100%;
  min-height: 100vh;
  background-color: $dark-blue;
  overflow: hidden;
}

.alert-delete-card {
  position: absolute !important;
  margin: 1rem;
  z-index: 110;
  width: 90% !important;
}