@import "theme";

.carrousel {
  width: 100%;
  margin: $s1 0;

  @include desktop {
    margin: 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}