@import "theme";

.carrousel {
  width: 100%;
  margin-top: $s1;
  margin-bottom: $s0;
  position: relative;
  z-index: 10;
  padding: $s0;

  &__cards {
    // min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: $s2;
    padding-bottom: $s1;
    align-items: center;

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}