@import "theme";

.profile {
  padding: $s0;
  padding-bottom: $s4;
  margin: auto;

  @include desktop {
    padding: $s0 0;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include tablet {
    width: 100%;
    padding: $s2;
  }
}