@import "theme";

.form__register {
	font-family: $font-plain;
	font-size: $s0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 90%;
	position: relative;

	@include desktop {
		width: 100%;
	}

	@include tablet {
		width: 100%;
	}

	.form__input {
		width: 100%;
		margin-bottom: $s0;

		label {
			display: inline-block;
			margin-bottom: 0.2rem;
		}

		input {
			background-color: $medium-grey;
			width: 100%;
			border-radius: $radius-1;
			font-family: $font-plain;
			border: none;
			font-size: $s0;
			color: $ivory;
			padding: $s-1;
			height: 50px;

			@include desktop {
				height: 70px;
			}

			@include tablet {
				height: 70px;
			}

			&::placeholder {
				opacity: 1;
				color: $light-grey;
			}
		}
		&[name="password"] {
			width: 80%;
		}
		&[name="confirmPassword"] {
			width: 80%;
		}
	}

	.input__container {
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $medium-grey;
		border-radius: $radius-1;

		input {
			width: 100% !important;
		}

		.input__icon {
			width: 15%;
			text-align: center;
		}
	}

	p {
		color: $light-grey;
		font-size: $s-1;
	}

	[role="button"] {
		cursor: pointer;
	}

	.button__register {
		margin-top: $s1;
		background-image: $main-gradient;
	}

	.button__link--grey {
		width: fit-content;
	}
}
