@import "theme";

.more {
  position: relative;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background: rgba(9, 35, 78, 0.651);
  }

  &__icon {
    text-align: center;

    path {
      stroke: $yellow;
    }
  }

  &__modal {
    background: #0b2f52;
    box-shadow: 0 0 2px rgba(10, 103, 126, 0.5);
    border-radius: $radius-1 - 4;
    color: $ivory;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 8px;
    width: 150px;
    text-align: center;

    li {
      padding: .5rem 1rem .3rem 1rem;
      color: $ivory;
      cursor: pointer;

      &:hover {
        color: rgb(207, 207, 207);
      }
    }
  }
}