@import "theme";

.button {
  background-color: $yellow;
  border-radius: $radius0;
  border: none;
  color: $dark-blue;
  font-size: $s0;
  padding: $s0 0;
  margin: .5rem 0;
  width: 100%;
  font-family: $font-plain;
  box-shadow: 0px 2px 10px rgba(244, 221, 39, 0.59);

  .loader-icon {
    width: 20px;
    height: 20px;

    &>div {
      border: 3px solid transparent;
      border-color: $darker-blue transparent transparent transparent;
    }
  }


  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  &-outlined {
    background-color: #ffffff00;
    border: 0.125rem solid $teal-300;
  }

  //Estados del boton:
  &-disabled {
    // o usar :disabled directamente?, revisar a11y
    opacity: 0.6;
    cursor: not-allowed;
  }

  &-error {
    background-color: $error;
  }

  &-succes {
    background-color: $succes;
  }
}