.card {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #03111f;
		color: #fcfcfc;
		padding: 15px;
		margin: 10px;
		position: relative;
		@media (max-width: 430px) {
			width: 43vw;
			height: 26vh;
			margin: 0px 0px 25px 0px;
			padding: 10px;
		}
	}

	&__img {
		width: 100%;
		height: 80%;
		object-fit: cover;
		border-radius: 5px;
	}

	&__details {
		width: 100%;
		display: flex;
		align-items: center;
		@media (max-width: 430px) {
			font-size: 9px;
		}
	}

	&__likes {
		position: relative;
		top: 10%;
		left: 35%;
		display: flex;
		align-items: center;
		font-weight: bold;
		color: #fcfcfc;
		z-index: 1;
		p {
			margin: 0px;
			text-shadow: 0px 2px 4px rgba(3, 17, 31, 0.8);
		}
		@media (max-width: 430px) {
			font-size: 10px;
			top: 16%;
			left: 23%;
		}
	}
	&__likes-button {
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		background-color: rgba(3, 17, 31, 0.5);
		border: none;
		border-radius: 50%;
		margin-right: 10px;
		z-index: 1;
		@media (max-width: 430px) {
			width: 25px;
			height: 25px;
			margin-right: 5px;
		}
	}
	&__likes-heart {
		fill: #ed254e;
		width: 24px;
		height: 20px;
		margin: 0px;
	}

	&__container::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(to bottom, rgba(3, 17, 31, 0.9), transparent);
	}
}
