@import "theme";

.Login {
	font-family: $font-plain;
	font-size: $s0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	.input__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $medium-grey;
		border-radius: $radius0;
		width: 100%;
		margin-bottom: $s1;
		margin-top: $s-2;
		margin-bottom: $s-3;
		input {
			margin-bottom: 0px;
			margin-top: 0px;
		}
		.input__icon {
			width: 20%;
			text-align: center;
		}
	}
	input {
		border-radius: $radius0;
		font-family: $font-plain;
		border: none;
		font-size: $s0;
		color: $light-grey;
		padding: $s-1;
		margin-bottom: $s1;
		margin-top: $s-2;
		&::placeholder {
			opacity: 1;
			color: $light-grey;
		}
		&:valid {
			background-color: $medium-grey;
		}
		&[name="password"] {
			width: 80%;
		}
	}

	p {
		color: $light-grey;
		font-size: $s-1;
		margin-bottom: $s-2;
		margin-top: $s-2;
	}
	.tooltip {
		display: inline-block;
		position: relative;
		border-bottom: 1px dotted #666;
		text-align: left;
	}
	[role="button"] {
		cursor: pointer;
	}
	button {
		background-color: $yellow;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 10px;
		border: none;
		width: 100%;
		color: $dark-blue;
		padding: $s0;
		font-family: $font-plain;
		font-size: $s0;
		box-shadow: 0px 2px 10px rgba(244, 221, 39, 0.59);
		margin-bottom: $s1;
		&.blue {
			color: $ivory;
			background-color: $light-blue;
			box-shadow: 0px 2px 10px rgba(39, 145, 244, 0.59);
		}
		&.red {
			color: $ivory;
			background-color: $red;
			box-shadow: 0px 2px 10px rgba(244, 39, 39, 0.59);
		}
		&.button__login {
			margin-top: $s1;
			margin-bottom: $s-2;
		}
	}
}
