.CardContent {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Ivory */
  color: #FCFCFC;

  padding: 10px;

    p {
      text-align: left;
    }

}