@import "theme";

.card__content {
  position: relative;
  z-index: 50000;
  margin-top: -105px;
  padding: $s1;

  &--title {
    color: $ivory;
    font-size: $s1;
    letter-spacing: .4px;
    font-weight: 500;
  }

  &--more {
    margin: $s0 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img user options"
      "img button options";
    align-items: center;

    &-img {
      grid-area: img;
      width: 70px;
      height: 70px;
      margin-right: $s0;
      
      img {
        border-radius: $radius-1;
        width: 100%;
        height: 100%;
        object-fit: center;
      }
    }

    &-user {
      grid-area: user;
      color: $ivory;
      font-size: $s0;
      margin-top: .5rem;
    }

    &-button {
      grid-area: button;
      background: $yellow;
      width: $s4;
      padding: .2rem .5rem;
      border: none;
      font-size: $s-1;
      border-radius: $radius-1;
      box-shadow: 0px 2px 10px rgba(244, 221, 39, 0.59);
    }

    &-options {
      grid-area: options;
      text-align: end;
    }
  }

  &--description {
    margin-top: $s3;
    color: $ivory;
  }
}