@import "theme";

.notresults {
  width: 100%;
  margin-top: 2rem;
  text-align: center;

  &__grid {
    width: 150px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: $s0;

    div {
      width: $s3;
      opacity: 0.3;
      height: $s3;
      background: $blue-300;
      border-radius: $radius-1;
    }

    :nth-child(5) {
      background: $green;
    }
  }

  &__text {
    color: $ivory;
    width: 100%;
    font-size: $s0;
    margin-top: 2rem;
    text-align: center;
    &--span {
      margin-bottom: $s0;
      font-size: $s2;
      display: block;
    }
  }
}
