@import "theme";

.list-cards {
	width: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: $s-1;

	.card {
		max-width: 450px;
	}

	@include tablet {
		grid-template-columns: repeat(3, minmax(220px, 1fr));
		justify-content: start;
		gap: $s2;
	}

	@include desktop {
		grid-template-columns: repeat(4, 1fr);
		gap: $s2;
	}
}

.profile__cards .list-cards {
	@include desktop {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		gap: $s2;
	}
}
