@import "theme";

.home {
  padding: $s0;
  padding-bottom: 6rem;

  @include desktop {
    padding: $s2 0;
  }

  @include tablet {
    padding: $s2 0;
  }
}

.line {
  width: 100%;
  height: 3px;
  background: $green-main;
}

.logo-home {
  width: 100%;
  height: 75px;
  background: $darker-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }

  @include desktop {
    display: none;
    padding: $s0 0;
  }

  @include tablet {
    display: none;
    padding: $s0 0;
  }
}
