@import "theme";

@keyframes upModal {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translatey(0);
  }
}

.layout {
  display: grid;
  grid-template-areas: "main main main", "navbar navbar navbar";
}

.modals {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: #000000b6;
  padding: 1rem;
  top: 0;
  left: 0;
  z-index: 111111011;

  @include desktop {
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;
  }

  @include tablet {
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;
  }

  &__content {
    height: auto;
    width: 100%;
    animation: upModal 0.33s ease;
    background: $dark-blue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(10, 30, 87, 0.842);

    @include desktop {
      padding-bottom: 0;
      max-width: 500px;
    }

    @include tablet {
      padding-bottom: 0;
      max-width: 500px;
    }
  }
}

.main {
  display: block;
  width: 100%;

  .presentation {
    display: none;
    height: 300px;
    width: 100%;
    position: relative;
    margin: $s2 0;

    &::after {
      content: "";
      position: absolute;
      border-radius: $radius-1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to right, rgba(3, 17, 31, 0.685), transparent);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0 5px 15px rgba(3, 17, 31, 0.89);
      border-radius: $radius-1;
    }

    h2 {
      position: absolute;
      width: 80%;
      z-index: 2;
      bottom: 8%;
      left: 4%;
      color: $ivory;
      font-size: 2rem;
    }
  }
}

@include desktop {
  .layout {
    grid-template-areas: "navbar main main";
  }

  .main {
    width: 90vw;
    grid-area: main;
    margin-left: 80px;
    padding: $s1 $s3;

    .presentation {
      display: block;
    }
  }

  .navbar {
    top: 0;
    left: 0;
    grid-area: navbar;
    width: 80px;
    height: 100vh;
    flex-direction: column;
  }
}

/** *************************************** Tablet *************************************** */

@include tablet {
  .main {
    width: 90vw;
    margin-left: 80px;
    padding: $s1 $s2;

    .presentation {
      display: block;
      height: 250px;

      h2 {
        font-size: $s1;
      }
    }
  }

  .navbar {
    top: 0;
    left: 0;
    grid-area: navbar;
    width: 80px;
    height: 100vh;
    flex-direction: column;
  }
}
