@import "theme";

.search {
	min-height: 100vh;
	padding: $s0;
	width: 96vw;
	margin: auto;

	@include desktop {
		width: 100%;
		padding: $s0 0;
	}

	@include tablet {
		padding: $s0 0;
		width: 100%;
	}

	&__title {
		color: $ivory;
		margin: 1rem 0;
		font-size: 1.2rem;

		span {
			color: $yellow;
			text-transform: uppercase;
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: $s0;

		@include desktop {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}