@import "theme";

.search {
  padding: $s1 0;
  padding-bottom: 6.5rem;
  width: 96vw;
  margin: auto;
  overflow: hidden;

  @include desktop {
    width: 100%;
    padding: $s0 0;
  }

  @include tablet {
    padding: $s0 0;
    width: 100%;
  }

  &__content {
    margin: 1rem 0;
  }

  &__title {
    color: $ivory;
    margin: 1rem 0;
    font-size: 1.2rem;

    span {
      color: $green-main;
      text-transform: uppercase;
    }
  }

  &__cards {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $s0;

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: $s1;
    }
  }
}
