@import "theme";

.UploadImage {
  width: 80px;
  height: 80px;
  position: relative;

  &:hover {
    img {
      opacity: 0.8;
    }
  }

  .iconUpload {
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: #61676797;
    border-radius: 5px;
    padding: 3px;
  }

  &__img {
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      border-radius: $radius-1;
      object-fit: cover;
    }
  }

  &__cancel {
    position: absolute;
    background: rgba(53, 53, 53, 0.843);
    border-radius: 4px;
    color: $green-main;
    padding: 0.2rem;
    left: 5%;
    top: 5%;
  }

  &__loader {
    position: absolute !important;
    top: 5%;
    right: 5%;
    width: 20px !important;
    height: 20px !important;

    & > div {
      border: 3px solid $green-main !important;
      border-color: $green-main $green-main transparent transparent !important;
    }
  }

  &__error {
    font-size: $s-1;
    color: $red;
  }
}
