@import "theme";

.UploadImage {
	width: 80px;
	height: 80px;
	position: relative;

	&__img {

		img {
			width: 100%;
			height: 100%;
			border-radius: $radius-1;
			object-fit: cover;
		}
	}

	&__cancel {
		position: absolute;
		background: rgba(53, 53, 53, 0.843);
		border-radius: 4px;
		color: $yellow;
		padding: .2rem;
		left: 5%;
		top: 5%;
	}

	&__loader {
		position: absolute !important;
		top: 5%;
		right: 5%;
		width: 20px !important;
		height: 20px !important;

		&>div {
			border: 3px solid $yellow !important;
			border-color: $yellow $yellow transparent transparent !important;
		}
	}

	&__error {
		font-size: $s-1;
		color: $red;
	}
}