@import "theme";

.profile__cards {
  margin-top: $s2;

  &--title {
    color: $yellow;
    margin: 1rem 0;
    font-size: $s0;
  }

  @include desktop {
    margin: 0;

    &--title {
      margin: 0;
      margin-bottom: $s-1;
    }
  }
}