@import "theme";

.profile__cards {
  margin-top: $s2;

  &--title {
    margin: 1rem 0;
    font-size: $s0;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: $yellow;

    svg {
      color: $ivory;
    }
  }

  @include desktop {
    margin: 0;

    &--title {
      margin: 0;
      margin-bottom: $s-1;
    }
  }
}